# Core server
PORT=3000

# Deployment environment
APP_ENV=development

# API & request handling
API_BODY_SIZE_LIMIT=1mb
API_BASE_PATH=/backend-api

# Database
DATABASE_URL="mysql://user:password@localhost:3306/reader_app"
